include header
head
    script(defer src="/assets/scripts/hacking.js")
    link(rel="stylesheet", href="/assets/styles/hacking.css")
    title 후후 해킹페이지
body
    main
        .row
            h2 관리자 인증
            input#passwordTbox(type="password")
        .row
            h2 유저 해킹
            div
                | 유저ID : 
                span.inpbtn
                    input#userNameTbox(type="text")
                    button(onclick="searchUser()") 검색
            table#userData
                th ID
                th 닉네임
                th 경험치
                th 재화
                th 아이템
                th 착용
                th 게임 시작일
                th 밴
                tr
                    td
                        input#userData_ID(size="7")
                    td
                        input#userData_Nick(size="13")
                    td
                        input#userData_EXP(size="3")
                    td
                        input#userData_Money(size="3")
                    td
                        input#userData_Item(size="50")
                    td
                        input#userData_Equip(size="30")
                    td#userData_CreatedAt
                    td
                        input#userData_Ban(type="checkbox")
            button(onclick="applyUser()") 적용
        .row
            h2 단어 해킹
            div
                | 단어 주제 / 시작점 / 개수 : 
                span.inpbtn
                    select#wordLoadCategorySelector
                        - for (const category of categories)
                            option(value=category.ID)=category.NAME
                    input#wordLoadStart(style="display: none;" type="number" value="1")
                    input#wordLoadLimit(type="number" value="10")
                    button(onclick="searchWord()") 검색
                #wordLoadList
                button#addWordBtn(onclick="addWord()") 추가
            button(onclick="applyWord()") 적용
        .row
            h2 게임 방 해킹
            button(onclick="loadRooms()") 불러오기
            table#roomList
                th ID
                th 카테고리
                th 플레이어
                th 라운드
                th 재화
                th 관전