include header
head
    script(defer src="/assets/scripts/hacking.js")
    link(rel="stylesheet", href="/assets/styles/hacking.css")
    title 후후 해킹페이지
body
    main
        .row
            h2 관리자 인증
            input#passwordTbox(type="password")
        .row
            h2 유저 해킹
            div
                | 유저ID : 
                span.inpbtn
                    input#userNameTbox(type="text")
                    button(onclick="searchUser()") 검색
            table#userData
                th ID
                th 닉네임
                th 경험치
                th 재화
                th 아이템
                th 착용
                th 게임 시작일
                tr
                    td
                        input#userData_ID(size="7")
                    td
                        input#userData_Nick(size="13")
                    td
                        input#userData_EXP(size="3")
                    td
                        input#userData_Money(size="3")
                    td
                        input#userData_Item(size="50")
                    td
                        input#userData_Equip(size="30")
                    td#userData_CreatedAt
            button(onclick="applyUser()") 적용