body {
    margin: 0;
    padding: 40px 0px 30px 0px;
}
#Main {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 335px 1fr 335px;
    grid-template-rows: 2fr 1fr;
}
#Round_time_back {
    grid-column: 1;
}
#Round_time_value {
    height: 100%;
    background: #ffff00;
    color: #000000;
}
#All_time_back {
    grid-column: 3;
}
#All_time_value {
    height: 100%;
    background: #1975ff;
    color: #ffffff;
}
#Round_time_back, #All_time_back {
    display: grid;
    grid-row: 1 / 3;
    height: calc(100% - 100px);
    width: 50px;
    border-radius: 25px;
    place-self: center;
    align-self: start;
    align-items: end;
    background: #000000;
}
#Round_time_value, #All_time_value {
    width: 50px;
    border-radius: 21px;
    font-size: 37px;
    letter-spacing: 10px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    font-weight: bold;
}
#Word, #Word-write {
    font-weight: bold;
}
#Word {
    display: flex;
    grid-column: 2;
    grid-row: 1;
    background: #45d064;
    border-radius: 100px;
    font-size: 100px;
    color: #ffffff;
    align-items: center;
    justify-content: center;
}
#Bottom {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 2fr 1fr;
}
#Word-write {
    margin-right: 10;
    grid-column: 1;
    font-size: 50px;
    text-align: center;
    outline: none;
    border: none;
    color: #000000;
}
#Info {
    margin-left: 10;
    grid-column: 2;
    padding: 20px;
}
#Info > div {
    font-size: 30px;
    font-weight: bold;
}
#Word-write, #Info {
    margin-top: 65px;
    background: #34a74d;
    border-radius: 50px;
}
#Subject::before {
    content: "주제 : ";
}
#Wrong {
    color: #ff0000;
}
#Wrong::before {
    content: "오답 : ";
}
#Round::before {
    content: "라운드 : ";
}
#Exp::before {
    content: "획득 경험치 : ";
}
@media (max-width: 1600px) {
    #Main {
        grid-template-columns: 200px 1fr 200px;
        grid-template-rows: 2fr 1fr;
    }
    #Info > div {
        font-size: 20px;
    }
}
@media (max-width: 1300px) {
    #Info > div {
        font-size: 15px;
    }
}