body {
    margin: 0;
    padding: 40px 0px 30px 0px;
}
#Main {
    display: grid;
    width: 100%;
    height: calc(100% - 50px);
    grid-template-columns: 335px 1fr 335px;
    grid-template-rows: 2fr 1fr;
}
#Round_time_back {
    grid-column: 1;
}
#Round_time_value {
    height: 100%;
    background: #ffff00;
    color: #000000;
}
#All_time_back {
    grid-column: 3;
}
#All_time_value {
    height: 100%;
    background: #1975ff;
    color: #ffffff;
}
#Round_time_back, #All_time_back {
    display: grid;
    grid-row: 1 / 3;
    height: calc(100% - 100px);
    width: 50px;
    border-radius: 25px;
    place-self: center;
    align-self: start;
    align-items: end;
    background: #000000;
}
#Round_time_value, #All_time_value {
    width: 50px;
    border-radius: 21px;
    font-size: 37px;
    letter-spacing: 10px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    font-weight: bold;
}
#Word, #Word-write {
    font-weight: bold;
}
#Word {
    display: flex;
    grid-column: 2;
    grid-row: 1;
    background: #45d064;
    border-radius: 100px;
    font-size: 100px;
    color: #ffffff;
    align-items: center;
    justify-content: center;
}
#Bottom {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 2fr 1fr;
}
#Word-write {
    margin-right: 10;
    grid-column: 1;
    font-size: 50px;
    text-align: center;
    outline: none;
    border: none;
    color: #000000;
}
#Info {
    margin-left: 10;
    grid-column: 2;
    padding: 20px;
}
#Info > div {
    font-size: 30px;
    font-weight: bold;
}
#Word-write, #Info {
    margin-top: 65px;
    background: #34a74d;
    border-radius: 50px;
}
#Subject::before {
    content: "주제 : ";
}
#Wrong {
    color: #ff0000;
}
#Wrong::before {
    content: "오답 : ";
}
#Round::before {
    content: "라운드 : ";
}
#Exp::before {
    content: "획득 경험치 : ";
}
#Result-main {
    display: grid;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    background: #00000088;
    position: fixed;
    top: 0;
    justify-items: center;
}
#ForP {
    width: 250px;
}
#Result {
    display: grid;
    width: 1000px;
    height: 550px;
    border-radius: 50px;
    border: 5px solid transparent;
    background-image: linear-gradient(#00000055, #00000055), linear-gradient(-90deg, #45d064, #fff000);
    background-origin: border-box;
    background-clip: content-box, border-box;
    justify-items: center;
}
#Result > .row {
    display: grid;
    width: 100%;
    grid-template-columns: 300px 1fr 30px;
    height: 50px;
    align-items: center;
}
#Result > .row > span:nth-child(1) {
    display: grid;
    grid-column: 1;
    text-align: right;
    padding-right: 5px;
    margin-right: 10px;
    border-right: 2px solid #ffffff;
    height: 100%;
    align-items: center;
}
#Result > .row > span {
    font-size: 20px;
    font-weight: bold;
}
#Result > .row > #Accuracy_back {
    width: 100%;
    height: 100%;
    background: #000000;
}
#Result > .row > #Accuracy_back > #Accuracy_value {
    display: grid;
    background: linear-gradient(90deg, #0066ff, #ffff00);
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}
#Goto_lobby {
    display: grid;
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    background: #ffff00;
    border: none;
    outline: none;
    cursor: pointer;
    align-content: center;
    justify-items: center;
    color: #000000;
    text-decoration: none;
}
@media (max-width: 1600px) {
    #Main {
        grid-template-columns: 200px 1fr 200px;
        grid-template-rows: 2fr 1fr;
    }
    #Info > div {
        font-size: 20px;
    }
}
@media (max-width: 1300px) {
    #Info > div {
        font-size: 15px;
    }
}