body {
    margin: 0;
}
#main {
    background: url("/assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: start;
    height: calc(100% - 50px);
    grid-template-columns: 660px 1fr;
}
button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
#Profile {
    display: inline-grid;
    grid-template-rows: 80px 1fr 100px;
    grid-template-columns: 80px 1fr 100px;
    width: 660px;
    height: 100%;
    justify-items: center;
    align-items: center;
    grid-column: 1;
}
#Nickname {
    text-align: center;
    font-size: 45px;
    grid-column: 2;
    grid-row: 1;
}

.bar-back {
    position: relative;
    display: grid;
    height: 100%;
    width: 50px;
    background: #000000;
    align-items: end;
}
.bar {
    display: inline;
    width: 50px;
    position: absolute;
}
.bar-value {
    z-index: 1;
    font-size: 37px;
    letter-spacing: 10px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    font-weight: bold;
    display: inline;
    height: 100%;
    text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
}
#Exp {
    width: 50px;
    height: 500px;
    grid-column: 1;
    grid-row: 2;
}
#Exp-bar-back {
    grid-row: 1 / 3;
}
#Exp-bar {
    background: linear-gradient(to bottom, #00ff00, #00ffee);
}
#Ziu {
    display: inline-block;
    width: 500px;
    height: 500px;
    grid-column: 2;
    grid-row: 2;
}
#Dam {
    width: 50px;
    height: 500px;
    grid-column: 3;
    grid-row: 2;
}
#Dam-bar {
    background: #f3f36c;
}
#Exp > span, #Dam > span {
    display: block;
    text-align: center;
    width: 100%;
    font-weight: bold;
}
.Ziu {
    position: absolute;
}
#Game-menu {
    display: grid;
    grid-template-rows: 1fr 125px;
    grid-template-columns: 1fr 300px;
    grid-column: 2;
    height: 100%;
}
#Menu {
    grid-column: 1/4;
    grid-row: 3;
}
#Menu > button {
    width: 70px;
    margin: 0 10 0 10;
}
#Menu > button > img {
    width: 70px;
    height: 70px;
}
dama-leaf {
    background: url("/assets/images/leaf.svg") no-repeat center;
    background-size: contain;
    width: 450px;
    height: 215px;
    cursor: pointer;
    filter: grayscale(100%);
}
dama-leaf.Selected {
    filter: none;   
}
#Categories {
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    grid-column: 1;
    grid-row: 1;
    justify-content: space-around;
}
.Categories-leaf-title {
    width: 200px;
    top: 35px;
    font-size: 30px;
}
.Categories-leaf-description {
    width: 300px;
    top: 70px;
    font-size: 15px;
}
.Categories-leaf-text {
    display: block;
    position: relative;
    left: 110px;
    color: #ffffff;
}
#Game-option {
    background: #686868;
    height: 100%;
    padding: 10px;
    grid-column: 2;
    grid-row: 1;
}
#Game-option > h1 {
    text-align: center;
    color: #00eeff;
}
#Game-option input {
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 18px;
    padding: 5px;
    width: 100px;
}
#Game-option div > span > span {
    font-size: 18px;
    margin-left: 5px;
}
#Game-make {
    background: #ffffff;
    width: 100%;
    height: 100%;
    font-size: 50px;
    color: #28f4f4;
    font-weight: bold;
    grid-column: 1 / 3;
    grid-row: 2;
}

#Shop {
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr 75px;
}
#Shop-items {
    display: flex;
    overflow-y: auto;
    padding: 20px;
    grid-column: 1;
    backdrop-filter: blur(10px);
    height: calc(100vh - 90px);
    flex-wrap: wrap;
    justify-content: center;
}
    shop-item {
        display: inline-grid;
        grid-template-columns: 120px 10px 1fr;
        grid-template-rows: 40fr 60fr;
        width: 380px;
        height: 120px;
        background: #00000088;
        border-radius: 20px;
        padding: 10px;
        cursor: pointer;
        margin: 10px;
    }
        shop-item > img {
            width: 120px;
            height: 120px;
            grid-column: 1;
            grid-row: 1 / 3;
        }
        shop-item > h2 {
            margin: 0;
            grid-column: 3;
            grid-row: 1;
        }
        shop-item > h4 {
            grid-column: 3;
            grid-row: 2;
            margin: 0;
        }
#Shop-categories {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y: auto;
    height: calc(100vh - 90px);
}
    #Shop-categories > button {
        width: 75px;
        height: 75px;
        font-size: 50px;
    }
dialog {
    position: fixed;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9;
}
.dialog-header {
    background: #000000;
    height: 50px;
    width: 100%;
}
.dialog-header > h1 {
    display: inline-block;
    color: #dd0000;
    margin: 0 0 0 10;
}
.dialog-close {
    float: right;
    width: 90px;
    height: 100%;
    background: #ff0000;
    cursor: pointer;
}
#Profile-dialog-main {
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-template-rows: 300px 10px 250px;
}
    #Charactor {
        display: grid;
        grid-column: 1;
        grid-row: 1;
        grid-template-rows: 270px 30px;
    }
        #Mini-ziu {
            grid-row: 1;
            width: 250px;
            height: 250px;
            margin: auto;
        }
        .MiniZiu {
            width: 250px;
            height: 250px;
        }
        #Set-nickname {
            grid-row: 2;
            font-size: 20px;
            width: 250px;
            height: 30px;
            border: 1px solid #000000;
            outline: none;
            border-radius: 10px;
            font-weight: bold;
            text-align: center;
            margin: auto;
        }
    #Effect {
        grid-row: 3;
        grid-column: 1;
    }
        #Effect > h2 {
            margin: 0;
            width: 100%;
            text-align: center;
        }
    #Inventory {
        grid-column: 2;
        grid-row: 1 / 4;
        overflow-y: auto;
        width: 100%;
        height: calc(100% - 10px);
    }
        dama-item {
            width: 100px;
            height: 100px;
            margin: 10;
            display: inline-block;
            border-radius: 20px;
            border: 3px solid #00ff00;
            cursor: pointer;
        }
            dama-item.eqiupedItem {
                border: 3px solid #ff8800;
            }
            dama-item > img {
                width: 100px;
                height: 100px;
                background: #ffffff;
                position: absolute;
                border-radius: 20px;
            }
            dama-item > span {
                position: relative;
                width: 90%;
                text-align: right;
                display: block;
            }