body {
    margin: 0;
}
#main {
    background: url("/assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: start;
    height: calc(100% - 50px);
    grid-template-columns: 660px 1fr 300px;
    grid-template-rows: 1fr 125px;
}
button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
#Profile {
    display: inline-grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 80px 1fr 100px;
    width: 660px;
    height: 100%;
    justify-items: center;
    align-items: center;
    grid-column: 1;
    grid-row: 1 / 3;
}
#Nickname {
    text-align: center;
    font-size: 45px;
    grid-column: 2;
    grid-row: 1;
}
#Exp {
    display: inline-block;
    width: 50px;
    height: 500px;
    grid-column: 1;
    grid-row: 2;
}
#Exp > span {
    display: block;
    text-align: center;
    width: 100%;
    font-weight: bold;
}
#Exp-bar {
    background: linear-gradient(to bottom, #00ff00, #00ffee);
    width: 100%;
    height: 490px;
    font-size: 36px;
    letter-spacing: 10px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
}
#Exp-bar-value {
    height: 10%;
    background: #222222;
}
#Ziu {
    display: inline-block;
    width: 500px;
    height: 500px;
    grid-column: 2;
    grid-row: 2;
}
.Ziu {
    position: absolute;
}
#Buttons {
    grid-column: 3;
    grid-row: 2;
}
#Buttons > button {
    width: 70px;
}
#Buttons > button > img {
    width: 70px;
    height: 70px;
}
dama-leaf {
    background: url("/assets/images/leaf.svg") no-repeat center;
    background-size: contain;
    width: 450px;
    height: 215px;
    cursor: pointer;
    filter: grayscale(100%);
}
dama-leaf.Selected {
    filter: none;   
}
#Categories {
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    grid-column: 2;
    grid-row: 1;
    justify-content: space-around;
}
.Categories-leaf-title {
    width: 200px;
    top: 35px;
    font-size: 30px;
}
.Categories-leaf-description {
    width: 300px;
    top: 70px;
    font-size: 15px;
}
.Categories-leaf-text {
    display: block;
    position: relative;
    left: 110px;
    color: #ffffff;
}
#Game-option {
    background: #686868;
    height: 100%;
    padding: 10px;
    grid-column: 3;
    grid-row: 1;
}
#Game-option > h1 {
    text-align: center;
    color: #00eeff;
}
#Game-option input {
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 18px;
    padding: 5px;
    width: 100px;
}
#Game-option div > span > span {
    font-size: 18px;
    margin-left: 5px;
}
#Game-make {
    background: #ffffff;
    width: 100%;
    height: 100%;
    font-size: 50px;
    color: #28f4f4;
    font-weight: bold;
    grid-column: 2 / 4;
    grid-row: 2;
}