.container {
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
    gap: 10px;
    width: 200px;
    height: 140px;
    cursor: pointer;
    background: #dddddd;
    border-radius: 10px;
    border: 3px solid #444444;
    padding: 5px 10px 10px 10px;
    transition: background 250ms;

    .icon {
        position: relative;
        display: grid;
        width: 160px;
        aspect-ratio: 16 / 9;
        align-items: center;

        .icon {
            position: absolute;
            width: 125px;
            aspect-ratio: 16 / 9;
            justify-self: center;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        .wordCount {
            position: absolute;
            background: #00000088;
            color: #ffffff;
            top: 0;
            width: 100%;
        }
    }

    .name {
        color: #222222;
        text-align: center;
    }
}
.container:hover {
    background: #ffffff;
}
.container:active {
    background: #aaaaaa;
}