.container {
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
    gap: 10px;
    height: 100%;
    cursor: pointer;

    .icon {
        aspect-ratio: 1 / 1;
        padding: 10px;
        background: linear-gradient(0deg, #e178d0 15%, #d82abc 70%, #e178d0 100%);
        border-radius: 20px;
        border: 5px solid #000000;

        .realIcon {
            aspect-ratio: 1 / 1;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            filter: grayscale(100%);
            border-radius: 50%;
        }   
    }

    .name {
        color: #dddddd;
        text-align: center;
    }
}