.container {
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
    gap: 10px;
    height: 100%;
    cursor: pointer;

    .icon {
        aspect-ratio: 1 / 1;
    }

    .name {
        color: #dddddd;
        text-align: center;
    }
}